H1{
    color: blue
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    font-family: 'Montserrat', sans-serif;
}

    
    

div
    background-color: rgb(13, 118, 118)
  
    height: 50vh;
    position: absolute;
    inset:0 ;
    margin: auto;
   