
body { 
    background-image: url(calculadora.jpg);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#contenedor{
    border-radius: 9px;
    background:rgb(110, 109, 200);
    width: 1000px;
    height: 450px;
    text-align: center;
    position: absolute;
    left: 18%;
    top: 15%;
    border-style:groove
}
  /*como se calcula*/
    .imagen{
      position: absolute;
      left: 6%;
      top: 78%;
      display: flex;
      width: 10%     
    }
#detalle{
  position: absolute;
  left: 17%;
  top: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    background: #f380e1;   
    width: 65%;
    height: 40%;
    color: rgb(10, 9, 9);
    padding: 0%;
    border-style:solid    
}
/* barra de peso */
input {
	width: 24%;
    padding: 12px 15px;
    border-radius: 5px;
    background-color: #f3f0f0;    
}
button { 
position: absolute;
left: 65%;
top: 30%;
      font-size: 1px;
      font-weight: bold;
      padding: 5px 11px;
      border-radius:4px;
       background-color:rgb(229, 181, 5);
       color: #f1eaea;
       text-transform: uppercase;
       letter-spacing: 1px;
       transition: transform 26ms ease-in;              
  }
button:active {
	transform: scale(1.09);
}
.text {
    font-size:28px;
    font-family:helvetica;
    font-weight:bold;
    color:rgb(9, 7, 7);
    text-transform:uppercase;
  }
  .parpadea { 
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.2; }
    100% { opacity: 1.0; }
  }
 